<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add project</title>
    <link rel="stylesheet" href="/src/assets/css/project.css">
    <link rel="stylesheet" href="/src/assets/css/style.css">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
</head>
<body>
    <nav>
      <div class="navigation">
        <div class="nav-left">
          <img
            src="/src/assets/image/411a4835d38ff899e55ce2802b08329c-removebg-preview.png"
            alt=""
          />
          <div class="link">
            <a href="/views/index.html" class="active-link">Home</a>
            <a href="/views/project.html">My Project</a>
            <a href="/views/testimonial.html">My testimonial</a>
          </div>
        </div>
        <div class="nav-right">
          <a href="/views/Contact.html">Contact Me</a>
           <div class="burger">
            <button onclick="openHamburger()">
              <i class="fa-solid fa-bars"></i>
            </button>
          </div>
        </div>
      </div>
    </nav>
    <div class="items-hamburger" id="items-bars">
      <a href="/views/index.html">Home</a>
     
      <a href="/views/project.html">My Project</a>
      <a href="/views/testimonial.html">My testimonial</a>
     
      <a href="/views/Contact.html">Contact Me</a>
    </div>

   <div class="container-project">
        <form class="form-project">
            <h1>ADD MY PROJECT</h1>
            <label for="inputProject" class="label-project">Project Name</label>
            <input type="text" id="title" class="input-project" required>
            <div class="container-date">
                <div class="container-startdate">
                    <label for="startDate" class="label-project">Start Date</label>
                    <input type="date" id="start-date" class="input-project" required>
                </div>
                <div class="container-enddate">
                    <label for="endDate" class="label-project">End Date</label>
                    <input type="date" id="end-date" class="input-project" required>
                </div>
            </div>
            <label for="desc" class="label-project">Description</label>
            <textarea id="Description" class="textarea" required></textarea>
            <label for="checkbox" class="label-project">Technologies</label>
            <label>
                <div style="padding-bottom: 10px;">
                <label>
                    <input type="checkbox" id="node" name="checkbox"> Node Js
                </label>
                <label>
                    <input type="checkbox" name="checkbox" style="margin-left: 10px;" id="java"> Java
                </label>
               </div>
               <div>
                <label>
                    <input type="checkbox" id="golang" name="checkbox"> Golang
                </label>
                <label>
                    <input type="checkbox" style="margin-left: 10px;" id="react" name="checkbox"> React
                </label>
               </div>
            <div class="upload">
                <label class="label-upload">Upload Image</label>
                <div class="input-image-group">
                  <label for="input-image">
                    <h6>Choose</h6>
                    <img src="/src/assets/image/link.jpg" style="width: 20px;"/>
                  </label>
                  <input type="file" id="input-image"hidden multiple required />
                </div>
              </div>
              <div style="display: flex; justify-content: flex-end; margin-top: 20px; padding-bottom: 20px;">
                <input type="button" value="submit" class="submit-project" onclick="addData(event)">
            </div>
        </form>
    </div>

    <div class="hr-">
      <h2>MY PROJECT</h2>
    </div>
    <div id="contents" class="kelas1">
      <div class="kelas2">
        <div class="kelas3">
          <img src="/src/assets/image/5ea9ef03-320b-4662-81f7-2833a34a6354.jpg" alt="" />
        </div>
        <div class="elemen">
          <a href="/views/detail.html">Teknologi Terbaru 2023</a>
          <div class="kelas4">
            <p>5 September 2023 12:30 WIB | riyan Maulana</p>
          </div>

          <p class="lorem">
            teknologi terbaru ini akan buming pada tahun 2024 nanti , jadi
            persiapkan diri kalian wahai programmer
          </p>
        </div>
        <div class="icon">
          <i class="fa-brands fa-golang"></i>
          <i class="fa-brands fa-java"></i>
          <i class="fa-brands fa-react"></i>
          <i class="fa-brands fa-node-js"></i>
        </div>

        <div class="kelas5">
          <div class="delete">
            <button>Delete</button>
          </div>
          <div class="edit">
            <button>Edit</button>
          </div>
        </div>
      </div>
    </div>
    <script src="/src/assets/js/project.js"></script>
    <script src="/src/assets/js/burger.js"></script>
    
</body>
</html>